/* allows me to create variables and use them in the whole stylesheet*/
:root {
  --gradient-colors: #000087, #ff00ff, #00ffff, #5f00af;
}
/*sets the font size to 10px but using percentages so it will be adjust for those that have their preferred font size larger. Setting the font to 10px makes it easier to determine the 
size in rem for the font. */
html {
  font-size: 62.5%;
}
/*makes the background dark and sets the general font and size for font*/
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  background-color: #201f1f;
}
/*allows the website to preload the background images so they don't flicker the first time*/
body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../images/facebook-round-color.png)
    url(../images/email-color2.png);
}
/*allows for a general set size*/
.wrapper-main {
  width: 1200px;
  margin: 0 auto;
}
/*styling for all of the h1 elements*/
h1 {
  font-size: 2.6rem;
  line-height: 1.5;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
/*sets the style for all of the h2 elements*/
h2 {
  font-size: 2.8rem;
  line-height: 1.5;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
/*default styling for h3 */
h3 {
  font-size: 2.6rem;
  line-height: 1.5;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

/* sets the style for all paragraph elements*/
p {
  font-size: 1.4rem;
  line-height: 1.75;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
/*makes the cursor a pointer for links*/
a {
  font-size: 1.4rem;
  line-height: 18px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}
/*The styling for the header allows the height, width, movement with flex and a gradient background color*/
.header-main {
  position: fixed;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10rem;
  background-image: linear-gradient(to bottom right, var(--gradient-colors));
}
/* Todo us the below code when I make a log */
/*.header-main-logo{
width: 120px;
height: 100%;
background-color: yellow;
padding-left: 60px;
display: flex;
}
header-main-logo{
    height: 30px;
    align-self: center;
}*/

/*this is the styling for the main navigation bar*/
.header-main-nav {
  width: fit-content;
  height: 100%;
  font-weight: bold;
}
/* this provides the styling for the list items in the navigation bar*/
.header-main-nav ul li {
  display: inline;
  float: left;
  margin-left: 30px;
}
/*this provides the styling for the links in the navigation bar the links currently do not go anywhere but they will be added in the future*/
.header-main-nav ul li a {
  padding: 0 10px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 100px;
  color: #000;
  display: block;
  height: 100%;
}
/*this changes the text color of the list items in the navigation bar when the mouse is hovered over it */
.header-main-nav ul li a:hover {
  color: #00ffff;
}
/*this provides the styling for the social media links in the header*/
.header-main-sm {
  width: fit-content;
  height: 100%;
  padding-right: 60px;
  display: flex;
  align-items: center;
  column-gap: 10px;
}
/*this provides the black and white facebook logo that is in the header it also sets the size*/
.header-main-sm-fb {
  width: 2rem;
  height: 2rem;
  background-image: url(../images/facebook-circular-logo.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/*this allows the color facebook logo to show when the mouse is hovered over it*/
.header-main-sm-fb:hover {
  background-image: url(../images/facebook-round-color.png);
}
/*this provides the black and white email logo that is in the header */
.header-main-sm-email {
  width: 2rem;
  height: 2rem;
  background-image: url(../images/email.png);
  background-repeat: no-repeat;
  background-size: cover;
}
/*this allows the color email logo to show when the mouse is hovered over it */
.header-main-sm-email:hover {
  background-image: url(../images/email-color2.png);
}

/*Footer*/
.footer-main {
  width: 100%;
  padding: 60px 0 100px;
  background-color: #201f1f;
}
.footer-main-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footer-getintouch {
  padding: 10px 20px;
  margin-bottom: 60px;
  border: 4px solid #fff;
  font-weight: 600;
}
.footer-getintouch:hover {
  border: 4px solid #00ffff;
}
.footer-sitemap {
  flex-basis: 100%;
  display: flex;
}
.footer-sitemap a {
  line-height: 30px;
}
.footer-sitemap a:hover {
  opacity: 0.8;
  background-color: #ff00ff;
}

.footer-sitemap ul:nth-child(1) {
  border-left: 4px solid #5f00af;
  padding-left: 20px;
}
.footer-sitemap ul:nth-child(1),
.footer-sitemap ul:nth-child(2) {
  flex-basis: 200px;
}
.footer-sitemap ul:nth-child(3) {
  flex-basis: 340px;
}
.footer-sitemap ul:nth-child(4) {
  flex-grow: 1;
}
.footer-sitemap ul:nth-child(4) p {
  text-align: right;
}
/*Burger menu styling*/
.burger-menu,
.burger-menu-btn {
  display: none;
}
/*Responsive styling allows for different screen sizes*/
@media only screen and (max-width: 600px) {
  /* ! my burger menu is currently for display only until I have learned some more about javaScript*/
  .burger-menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../images/burger-menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .burger-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 900;
    background-color: #111;
  }
  .burger-menu ul {
    width: 100%;
    height: cal(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .burger-menu ul li {
    flex-basis: 100%;
    border-top: 2px solid #000;
  }
  .burger-menu ul li a {
    display: block;
    height: 100%;
    font-size: 3rem;
    padding: 30px 0;
    flex-basis: 100%;
    text-align: center;
  }
  .wrapper-main {
    width: 100%;
  }
  .header-main-nav {
    display: none;
  }
  .header-main {
    height: 5rem;
  }
  .header-main-sm {
    padding-left: 20px;
  }
  /*footer section*/
  .footer-main {
    width: 100%;
    padding: 60px 0 100px;
  }
  .footer-getintouch {
    margin: 0 0 60px;
  }

  .footer-sitemap {
    flex-wrap: wrap;
  }

  .footer-sitemap ul:nth-child(1) {
    border-left: none;
    padding-left: 0;
  }
  .footer-sitemap ul:nth-child(1),
  .footer-sitemap ul:nth-child(2),
  .footer-sitemap ul:nth-child(3) {
    flex-basis: 100%;
    text-align: center;
    padding-bottom: 20px;
  }

  .footer-sitemap ul:nth-child(4) p {
    text-align: center;
  }
}
/* adds the styling for 601px and up */
/*@media screen and (min-width: 601px),(max-width: 1100px) {
  .wrapper-main {
    width: 100%;
  }
  .burger-menu-btn {
    display: block;
    width: 50px;
    height: 50px;
    background-image: url(../images/burger-menu.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .burger-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 900;
    background-color: #111;
  }
  .burger-menu ul {
    width: 100%;
    height: cal(100vh - 60px);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  .burger-menu ul li {
    flex-basis: 100%;
    border-top: 2px solid #000;
  }
  .burger-menu ul li a {
    display: block;
    height: 100%;
    font-size: 3rem;
    padding: 30px 0;
    flex-basis: 100%;
    text-align: center;
  }
  header section
  .header-main-nav {
    display: none;
  }
  .header-main {
    height: 5rem;
  }
  .header-main-sm {
    padding-left: 20px;
  }
  footer section
  .footer-sitemap {
    display: flex;
  }
  .footer-sitemap ul:nth-child(1) {
    border-left: none;
    padding-left: 0;
  }
}*/




 
